<div class="mt-4 mb-4">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <%= link_to 'Account', '#', class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Tips', account_tips_path, class: 'nav-link' %>
    </li>
  </ul>
</div>
<%= render(partial: 'edit_user', locals: {text: 'Update account details', user: current_user})%>
